# Ignore everything by default
*

# But DO NOT ignore these specific folders and files
!/calculator/
!/50\ js\ projects/
!/Chatgpt\ Clone\ Source\ Code/
!/portfolio/
!/react_scrach/
!/rock.paper.scissor/
!/tic-tac-toe/

# Also, do not ignore the .gitignore file itself
!.gitignore