*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(204, 163, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#password{
    width: 300px;
    padding: 20px;
    font-size: 1.25rem;
    border: 2px solid black;
    border-radius: 7px;
}
#password:focus{
    outline: none;
}